body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: #87b570;
  font-size: 4rem;
}

p {
  font-weight: bold;
}
ul {
  list-style: none;
}

.label {
  text-shadow: -1px 1px 1px rgb(0, 0, 0);
  font-size: 20px;
  position: absolute;
}

#ARButton {
  color: black !important;
  width: 10em !important;
  font-size: 4em !important;
  padding: 0.5em !important;
}
